<h2 class="mb-4">Student Dashboard</h2>

<div class="row">

    <div class="col-md-4">

        <div class="card p-3 shadow">

            <h4>Submit Complaint</h4>

            <a class="btn btn-primary"
               href="/Student/Create">

                Open

            </a>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card p-3 shadow">

            <h4>My Grievances</h4>

            <a class="btn btn-success"
               href="/Student/MyGrievances">

                View

            </a>

        </div>

    </div>

</div>